.card {
  background-color: #fff;
  width: 300px;
  height: 150px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}

.best-feedback{
    background-color: green;
}
.worst-feedback{
    background-color: red;
}
.good-feedback{
    background-color: blue;
}

.important {
  border: 2px solid red;

}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-content {
  font-size: 14px;
  color: #888;
}

.card-rating {
  display: inline-block;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 8px;
}
.others{
    border: 2px solid pink;
}
.card-all-btn{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}